# variable and built-in types

In [2]:
my_name = 'Shi'
x = 1
y = 10

In [4]:
print('Hello, my name is {}'.format(my_name))

Hello, my name is Shi

In [5]:
print(f'Hello, my name is {my_name}')

Hello, my name is Shi

In [6]:
for a in (my_name, x, y):
    print(type(a))

<class 'str'>
<class 'int'>
<class 'int'>

In [10]:
isinstance(my_name, str)

True

In [11]:
isinstance(my_name, int)

False

In [12]:
isinstance(my_name, object)

True

Boolean

In [13]:
a = True
b = False

In [14]:
type(a)

bool

Comparisions

In [15]:
a != b

True

In [16]:
a ==1

True

In [17]:
b ==1

False

In [18]:
b ==0

True

In [19]:
1< 2 and 2<3

True

In [20]:
1< 2 <3

True

Numeric

In [24]:
x = 2
y = 5.0

z = 2 + 1j
z_alt = complex(2,1)

In [22]:

x = 2  # int
y = 5.0  # float

z = 2 + 1j  # complex
z_alt = complex(2, 1)  # complex

In [27]:
for a in (x,y,z):
    print(type(a))

<class 'int'>
<class 'float'>
<class 'complex'>

In [28]:
x + y

7.0

In [29]:
x*y

10.0

String

In [30]:
language1 = 'Python'
language2 = "Python"
language3 = '''Python'''
language4 = """Python"""

In [31]:
language1 == language2 == language3 == language4

True

In [33]:
py_version = '3.6'

language = 'Python {}'.format(py_version)


type(language)

str

In [34]:
language

'Python 3.6'

In [35]:
language.lower()

'python 3.6'

In [36]:
language.upper()

'PYTHON 3.6'

In [37]:
language.replace('3.6','X.Y')

'Python X.Y'

In [38]:
language

'Python 3.6'

Sequences : list and tuples

In [39]:
my_list = ['red','green', 'blue']
my_tuple = ('Scott','Canada', True)

In [40]:
'red' in my_list

True

In [41]:
'Canada' in my_tuple

True

In [42]:
for item in my_list:
    print(item)

red
green
blue

## Mappings : dictionaries

In [43]:
item = {
    'id':123,
    'price':19.90,
    'description':'Book',
    'in_stock':True
}
item

{'id': 123, 'price': 19.9, 'description': 'Book', 'in_stock': True}

In [44]:
type(item)

dict

In [46]:
item['price']

19.9

In [47]:
item['price'] = 24.9
item

{'id': 123, 'price': 24.9, 'description': 'Book', 'in_stock': True}

In [48]:
del item['in_stock']
item

{'id': 123, 'price': 24.9, 'description': 'Book'}

In [49]:
item['available'] = True

In [50]:
item

{'id': 123, 'price': 24.9, 'description': 'Book', 'available': True}

In [51]:
item['does_not_exist']

KeyError: 'does_not_exist'

## Custom Functions

In [52]:
def add_them(a,b):
    return a + b

In [53]:
add_them(5,6)

11

In [54]:
add_them('hello','Shi')

'helloShi'

In [55]:
add_them('hello',8)

TypeError: can only concatenate str (not "int") to str

## Control Flow

if/else statement

In [56]:
a = 10
b = 11

if a >0 and b>0:
    print('Add them {}'.format(add_them(a,b)))
elif a==0:
    print('A is zero')
else:
    print("error")

Add them 21

While statement

In [57]:
x = 5

while x >0:
    print(x)
    x = x - 1

5
4
3
2
1

In [58]:
x = 5
if x >0:
    print(x)
    x = x -1

5

for

In [62]:
for x in [1,2,3]:
    print(x)

1
2
3

In [63]:
for x in (1,2,3):
    print(x)

1
2
3

In [64]:
my_string = 'Hello'

for letter in my_string:
    print(letter)

H
e
l
l
o

# exercise

In [67]:
products = [
    {'name': 'orange', 'price': 20},
    {'name': 'apple', 'price': 8},
    {'name': 'banana', 'price': 10}
]

In [69]:
for i in products:
    if i['price'] > 10:
        print(i['name'])

orange